*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    }
    .cards{

        /* width: 75%; */
        display: block;
        background-color: #fd7e14;
        border-radius: 5px;
        margin: 40px;
        box-shadow: 2px 2px 10px black; 
        
    }

    .title{
 
        text-align: left;
        padding: 5px;
      }
   
 
     .image img{

       width: 30%;
       height: 1%;
       border-top-right-radius: 5px;
       border-top-left-radius: 5px;

    }

     .des{
 
        text-align: left;
        padding: 4px;
 
    }

    /*comentario*/
    .comentarios {
        padding: 20px;
        background-color: #ffd587;
        border-radius: 5px;
        margin-top: 5px;
    }
    
    .comentarios form {
        margin-bottom: 10px;
    }
    
    .comentarios textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }
    
    .comentarios button {
        background-color: #fd7e14;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .comentario {
        background-color: #ffd587;
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    #comentariosTable {
        width: 97%;
        border-collapse: collapse;
        margin: 0 auto;
        border-radius: 5px; /* Agrega bordes redondeados a la tabla */
        overflow: hidden; /* Evita que los bordes redondeados se extiendan más allá del contenedor */
    }
    
    #comentariosTable th,
    #comentariosTable td {
        border: 1px solid #fd7e14;
        padding: 10px;
        text-align: left;
    }
    
    #comentariosTable th {
        background-color: #ffc250;
        color: white;
    }
    
    #comentariosTable tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #comentariosTable tbody tr:hover {
        background-color: #ddd;
    }
    #comentariosTable th.user-header {
        background-color: #ffc250; 
        color: white;
        width: 20%;
    }
    
    
    /*fin comentario*/

     button{
 
         margin-top: 10px;
         margin-bottom: 30px;
         background-color: white;
         border: 1px solid black;
         padding: 5px;
         border-radius: 5px;
         margin-right: 0;
 
    }

    button:hover{

    background-color: black;
    color:white;
    transition: .5s;
    cursor: pointer;


    }

    .busquedaAvanzada {
        width: 400px;
        background: #fd7e14;
        margin: auto;
        margin-top: 20px;
        box-shadow: 7px 13px 37px black;
        padding: 20px;
        color: white;
        display: flex; 
        align-items: center; 
      }
      
      .button {
        flex: 1; 
        height: 40px;
        background: white;
        border: none;
        margin-right: 10px; 
      }
      
      .control {
        flex: 2; 
        height: 40px;
        padding: 6px 5px;
        background: rgb(255, 237, 137);
      }
      
      
      
    body{

        background-image: url(imgpagweb/pkll.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
    
    }
    
    img{
    
        width: 75px;
        height: 75px;
        float: left ;
        padding: 8px;
    
    }


    header{
      
        width: 100vw;
        background:#af4407;
        clear: both;
        content: "";
        display: table;
        
        }
    
    
        nav{

            float: right;
        }
    
    
        nav ul li{

            list-style: none;
            margin-left: 35px;
            margin-right: 12px;
            padding: 15px 0;
            float: left;
    
        }


        nav ul li a{
    
            text-decoration: none;
            color: white;
        }
    
    
        ul li a{
    
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: white;
            margin-top: -3%;
            transition: .4s ease;
           
           }
    
        ul li a:hover{
    
            color: rgb(230,104,59);
       }



footer {
    background: #fd7e14;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px; 
    color: white;
}

.footer-content{

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;

}

.footer-content h3{

     font-size: 1.8rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;


}


.footer-content p{


     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
     


}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

    .socials li {
        margin: 0 10px;
    }


    .socials a {
        text-decoration: none;
        color: white;
    }

        .socials a i {
            font-size: 1.1rem;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: rgb(230, 104, 59);
        }


.footer-bottom {
    background: #af4407;
    width: 100vw;
    padding: 1px;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

  
    
