*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }

    
    
body{

    background-image: url("pagweb/pkll31.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
 
     font-family: Arial;
 }


 .Regis {

    width: 400px;
    height: 850px;
    background:  #fd7e14;
    margin: auto;
    margin-top: 20px;
    box-shadow: 7px 13px 37px black;
    padding: 20px 30px;
    border-top: 4px solid rgb(255, 237, 137);
    border-bottom: 4px solid rgb(255, 237, 137);
    color: white;
    }

 .Regis h5{


    margin:0;
        
    text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        font-size: 25px;
        
    }


    .control{


    width: 100%;
        
    margin-bottom: 15px;
    padding: 6px 5px ;
    background: rgb(255, 237, 137);

    }


        .button{

            width: 100%;
            height: 40px;
            background: white;
            border: none;
            margin-bottom: 140px;
        
        
        }


.button1{

    width: 100%;
    height: 40px;
    background: white;
    border: none;
    margin-bottom: 1px;


}


.Regis p{

height: 6px;
text-align: center;
border-bottom: 1px solid;

}

.Regis a{

color: white;
text-decoration: none;
font-size: 14px;

}

.Regis a:hover{

color: white;
text-decoration: underline;



}




.form-input {

    width: 80%;
    margin-bottom: 50px;
    display: none;
    

}


.form-input label{

    width: 100%;
    height: 40px;
    font-size: 16px;
    text-decoration: none;
    color:black;
    background: white;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    display: block;
    line-height: 40px;

}




footer {
    position: relative;
    bottom: -200px;
    left: 0;
    right: 0;
    background: #fd7e14;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 0px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .footer-content h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }


    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

    .socials li {
        margin: 0 10px;
    }


    .socials a {
        text-decoration: none;
        color: white;
    }

        .socials a i {
            font-size: 1.1rem;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: rgb(230, 104, 59);
        }


.footer-bottom {
    background: #af4407;
    width: 100vw;
    padding: 1px;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

.page-wrapper{



    min-height: 100%;
}